.ergbin812.css-eezun2-BaseButtonComponent-PromoteButton.ery7n2v0,
.ergbin811.css-tgtq8y-BaseButtonComponent-AppButton.ery7n2v0,
.action__1qFU,
div[style="color: rgba(var(--yellow-5-rgb), 1); display: flex; justify-content: space-between; align-items: center;"] {
    display: none;
}